.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  width: 1474px;
  align-self: center;
  justify-content: center;
}
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-link {
  text-decoration: none;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-link3 {
  text-decoration: none;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.footer-text1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-navlink {
  text-decoration: none;
}
.footer-navlink1 {
  text-decoration: none;
}
.footer-navlink2 {
  text-decoration: none;
}
.footer-root-class-name {
  align-self: center;
}
.footer-root-class-name1 {
  align-self: center;
}
.footer-root-class-name2 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 390px) {
  .footer-footer {
    padding-top: 110px;
  }
  .footer-links {
    width: 390px;
    flex-wrap: wrap;
  }
  .footer-container {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
