.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background: #FFF0DC;
  padding: 30px;
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 85vh;
  overflow-y: auto;
}

.modal_content::-webkit-scrollbar {
  width: 8px;
}

.modal_content::-webkit-scrollbar-track {
  background: #FFF0DC;
  border-radius: 12px;
}

.modal_content::-webkit-scrollbar-thumb {
  background: #F0BB78;
  border-radius: 12px;
}

.modal_content::-webkit-scrollbar-thumb:hover {
  background: #543A14;
}

h2 {
  text-align: center;
  color: #543A14;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.form_group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
  color: #543A14;
}

input {
  padding: 12px;
  border: 1px solid #543A14;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #F0BB78;
  outline: none;
}

.button_group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit_button {
  flex: 1;
  padding: 12px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: #543A14;
  color: #FFF0DC;
}

.submit_button:hover {
  background: #131010;
  color: white;
  transform: translateY(-2px);
}

.close_button {
  flex: 1;
  padding: 12px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: #F0BB78;
  color: #131010;
}

.close_button:hover {
  background: #543A14;
  color: white;
  transform: translateY(-2px);
}

.error_msg {
  color: #131010;
  font-weight: bold;
  text-align: center;
}

.checkbox_group {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .modal_content {
    padding: 20px;
    max-width: 90%;
    width: 90%;
  }

  .form {
    gap: 10px;
  }

  .form_group {
    grid-template-columns: 1fr;
  }

  .submit_button,
  .close_button {
    font-size: 14px;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .modal_content {
    padding: 15px;
    max-width: 90%;
    width: 100%;
  }

  .form {
    gap: 8px;
  }

  .form_group {
    grid-template-columns: 1fr;
  }

  .submit_button,
  .close_button {
    padding: 10px;
    font-size: 14px;
  }

  h2 {
    font-size: 1.6rem;
  }
}

/* Target the textarea for the 'Note' field */
textarea {
  padding: 16px;
  border: 2px solid #F0BB78;
  border-radius: 8px;
  font-size: 14px;
  width: 89%;
  background-color: #FFF8E1;
  color: #543A14;
  transition: all 0.3s ease-in-out;
  resize: vertical;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea::placeholder {
  color: #B3A99F;
  font-style: italic;
  font-weight: 500;
}
