.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal_content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: relative;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal_content form {
  display: flex;
  flex-direction: column;
}

.modal_content input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal_content button {
  background-color: #fa7930;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal_content button:hover {
  background-color: #d76d2b;
}

@media (max-width: 768px) {
  .modal_content {
    width: 90%;
    padding: 15px;
  }

  .modal_content input {
    padding: 8px;
  }

  .modal_content button {
    padding: 12px;
  }

  .close_button {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .modal_content {
    width: 100%;
    padding: 10px;
  }

  .modal_content input {
    padding: 8px;
  }

  .modal_content button {
    padding: 10px;
  }

  .close_button {
    font-size: 18px;
  }
}
