.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: white;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.error_bar {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  padding: 10px 15px; /* Reduced padding for more compact appearance */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure both the text and button align vertically */
  z-index: 9999;
  width: auto;
  max-width: 350px; /* Optional, limit width if the message is too long */
  white-space: nowrap; /* Prevent wrapping of the message */
}

.close_error_button {
  background: transparent;
  border: none;
  color: white;
  font-size: 12px; /* Smaller font size */
  cursor: pointer;
  padding: 0 5px; /* Reduced padding */
  font-weight: normal;
  line-height: 1;
  margin-left: 10px; /* Space between the text and the button */
}

.close_error_button:hover {
  color: #F0BB78;
}

@media (max-width: 768px) {
  .error_bar {
    font-size: 14px;
    top: 10px;
    right: 10px;
    padding: 10px;
    max-width: 250px; /* Adjust width for smaller screens */
  }

  .close_error_button {
    font-size: 12px; /* Ensure button remains small on mobile */
  }
}
