/* src/components/styles.module.css */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top */
  }
  
  .modal_content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .products_container {
    filter: blur(5px); /* Apply blur effect to the background */
  }
  
  .products_container.modal_open {
    filter: none; /* Remove blur when modal is open */
  }

  /* src/components/Spinner.module.css */
/* src/components/Spinner.module.css */
.spinner {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); /* Optional: semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px; /* Size of the spinner */
  height: 60px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}